PORT=5000
MONGO_URI=mongodb+srv://pkmahto009_db_user:a7HqMp0qHc8HA81e@callus.wdcsjbc.mongodb.net/?appName=callUs
JWT_SECRET=1d85bb2e249c2d66f414ab2ca1d13f0bf8a522c11c57032086e62aae5b575db3
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-3-5-sonnet-latest
CLIENT_URL=http://localhost:5173

VITE_API_URL=http://localhost:5000
